-c requirements.txt

black
pylint
pylint-django
bandit
mypy
autoflake
coverage
coverage-badge
sqlalchemy
pytest
pytest-cov
pytest-mock
pytest-django
testcontainers
tblib
pytz
mccabe
flake8
pyflakes
rope
requests-mock
freezegun
