# Dependency management
pip-tools

# Communication with signers and enrichment
# the second one is to do everything more async
requests
grequests

# Crypto support
PyNaCl

# Mobile app step 1
PyJWT
json5
cryptography

# RVIG enrichment
unidecode
zeep

# FastAPI
fastapi[all]

# UTC timezone
pytz

# Session Store for mobile app backend
redis
hiredis

colorlog

# Model validation
pycountry
