-c requirements.txt

black
pylint
bandit
mypy
autoflake
coverage
coverage-badge
sqlalchemy
pytest
pytest-asyncio
pytest-cov
pytest-mock
pytest_redis
pytz
mccabe
flake8
pyflakes
requests-mock
freezegun
plantuml
ipython
vulture
mpz