# Dependency management
pip-tools

# Database access
psycopg2-binary

# Communication with services
requests

# Crypto support
django-nacl-fields
PyNaCl

# Framework support
django

# Mobile app step 1
PyJWT
json5
cryptography

# SBVZ enrichment
unidecode
zeep
