# Dependency management
pip-tools

# Communication with signers and enrichment
requests

# Crypto support
PyNaCl

# Mobile app step 1
PyJWT
json5
cryptography

# SBVZ enrichment
unidecode
zeep

# FastAPI
fastapi[all]

# UTC timezone
pytz
