# This directory contains the secrets to decrypt and encrypt database data. Hence it will not be committed to git.
# ignore everything except .gitignore

tvs-connect.test.coronacheck.nl.key.nopass
tvs-connect.test.coronacheck.nl.key
sbvz-connect.test.brba.nl.cert
